ARTIFACTS_SANDBOX_API_TOKEN=replace-me
ARTIFACTFS_BACKING_GIT_REMOTE=https://github.com/you/artifactfs-sandbox.git
ARTIFACTFS_BACKING_GIT_BRANCH=main
ARTIFACTFS_GIT_USERNAME=x
ARTIFACTFS_GIT_PASSWORD=replace-me
ARTIFACTFS_SANDBOX_ID=artifactfs-sandbox
